[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
codecov = "*"

[packages]
pika = "*"
structlog = "*"
pgpy = "*"
paramiko = "*"
retrying = "*"
requests = "*"
google-cloud-storage = "*"
csvsort = "<1.6" # 1.6 breaks print file service by trying to use multiprocessing within a deamon process
tenacity = "*"

[requires]
python_version = "3.7"
